<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Products</h1>
      <p class="lead text-body-secondary">Explore famous comic teams and alliances that have fought for justice—or chaos—throughout the ages. Uncover the bonds and conflicts that define these groups and discover the dynamic characters within them.</p>
    </div>
  </div>
</section>

<div class="container mt-4">
  <h1>All Sneakers</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% @products.each do |product| %>
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text"><%= truncate(product.description, length: 100) %></p>
            <p class="card-text text-muted"><strong>Price:</strong> $<%= product.price %></p>
            <p class="card-text text-muted"><strong>Stock:</strong> <%= product.stock_quantity %></p>
            <%= link_to "View Details", product_path(product), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>